#error_explanation {
  position: absolute !important;
  right: -220px;
  padding: 10px 25px 0px 0px;
  top: -40px;
  z-index: 9;
  margin-bottom: 0 !important;
}

ul {
  margin: 0;
}

.has-signup-error {
  .signup-error {
    background: transparent;
    color: red;
    border: none;
    padding: 0;
  }

  input,
  select {
    background-color: #edcece;
    border-color: red;
    color: black;
    font-weight: 500;
  }

  &.checkbox {
    label {
      &:before {
        background-color: red;
        border-color: red;
      }
    }
  }
}

.small-logo{
  width: 30px;
}